@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px; /* Adjust to height of your fixed navbar */
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
