@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px; /* Adjust to height of your fixed navbar */
}

:root,
html,
body {
  overflow-x: hidden !important;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

div,
ul {
  scrollbar-width: none;
}

/* html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
} */

/* Chrome / Edge / Safari */
/* body::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for Firefox */
/* body {
  scrollbar-width: none;
} */

/* Hide scrollbar for IE, Edge Legacy */
/* body {
  -ms-overflow-style: none;
} */
